@media only screen and (max-width: 900px) {
    .clickCom{
        width: 40%;
    }

    .webScreenshotBox{
        width: 60%;
    }

    .hideMobile{
        display: none;
    }

    .bottombar{
        width: 100%;
        background-color: var(--componentBG);
        min-height: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: .8rem;
        padding: 1rem;
        position: fixed;
        bottom: 0;
        left: 0;
        border-top: 1px solid black;
    }

    .bottomNav{
        text-decoration: none;
        padding: 1rem;
        border-radius: 5px;
        text-transform: uppercase;
        border: 2px solid var(--componentBGhover);
        color: var(--headerColor);
    }

    .crose{
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        color: var(--headerColor);
    }

    .menu{
        position: fixed;
        right: 2rem;
        bottom: 1.5rem;
        height: 3rem;
        width: 3rem;
        font-size: 1.4rem;
        border-radius: 50%;
        border: 1px solid var(--componentBGhover);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--componentBG);
        color: var(--headerColor);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .writeAbout{
      width: 100%;
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    [aria-current="page"] {
        background-color: transparent;
        color: var(--headerColor);
        border: 2px solid var(--smallColor);
    }
}

@media only screen and (max-width: 500px) {
    .clickCom{
        width: 100%;
    }
    .hero{
        padding: 2rem 1rem;
    }

    .webScreenshotBox{
        width: 100%;
        padding: 2rem;
        min-height: 1rem;
        height: initial;
    }

    .menu{
        font-size: 1.8rem;
        width: 4rem;
        height: 4rem;
    }

    .navClick{
        font-size: 1.8rem;
    }

    .logo span{
        font-size: 2.5rem;
    }

    .modalQr{
        width: 95%;
    }

    .boxAbout{
      width: 100%;
    }

    .aboutBtn{
      margin-bottom: 1rem;
    }
}
